body {
  font: 12px sans-serif;
  background: antiquewhite;
}

button {
  width: 5em;
}

.row,
.row-file,
.row-button {
  background: azure;
  display: flex;
}

.row-file {
}

.row-button {
  grid-template-columns: repeat(4, 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.column,
.column-label {
  padding: 1em;
  background: bisque;
}
